* {
    box-sizing: border-box;
}
.container {
    max-width: 1188px;
    padding: 0 15px;
    margin: auto;
}
body {
    background: #eff2f1;
    font-family: "Inter", sans-serif;
}
img{
    max-width: 100%;
 
}
